# Web Data Formats

This notebook introduces you to common data formats and how Python can read and write them. How one decides to structure data will ultimately shape the storage and possible analyses. 

---
**Topics Covered:**
- [Data Formats and Storage](#dataformats)
    - .csv 
    - .xml
    - .json

---

## Data Formats and Storage

### CSV

Most people are familiar with Microsoft Excel spreadsheet's `.xls` format, great for storing tabular data. However, Microsoft encodes the `.xls` format with a lot of information for displaying it in the software environment as well as remembering any formulas you may have used, among other things. The extra information is often not necessary to simply store the raw data, and is not easily readable by other software. A "bare-bones" `.xls` format is the `.csv`, or "comma-separated value". You may have encountered this format before. It's not any more complicated than the name. All values are separated by commas to delimit columns, while the lines represent rows.

The table:

| Name    | Age | Department | Hometown |
|---------|-----|------------|----------|
| Chris   | 27  | German     | Plymouth |
| Jarrett | 25  | Physics    | Newark   |
| Sofia   | 22  | Chemistry  | Boston   |
| Esther  | 24  | Economics  | Oakland  |


would be represented as:

~~~
Name, Age, Department, Hometown
Chris, 27, German, Plymouth
Jarrett, 25, Physics, Newark
Sofia, 22, Chemistry, Boston
Esther, 24, Economics, Oakland
~~~

Notably, the header is not distinguishable except for being the first row. There is also no way to add any metadata or notes unless it fits into a column or row. Nevertheless, `.csv` is standard for simple data, and is easily read by most software. If you are collaborating with researchers or using different pieces of software you'll want to use this format.

Python can easily dump data into a `.csv`, the most straight-forward approach would be dumping rows from a list of lists, each sublist being a row in your data.

In [4]:
import csv

my_data = [['Name', 'Age', 'Department', 'Hometown'],
            ['Chris', '27', 'German', 'Plymouth'],
            ['Jarrett', '25', 'Physics', 'Newark',],
            ['Sofia', '22', 'Chemistry', 'Boston'],
            ['Esther', '24', 'Economics', 'Oakland']
        ]


with open("my_data.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(my_data)
    
my_data

[['Name', 'Age', 'Department', 'Hometown'],
 ['Chris', '27', 'German', 'Plymouth'],
 ['Jarrett', '25', 'Physics', 'Newark'],
 ['Sofia', '22', 'Chemistry', 'Boston'],
 ['Esther', '24', 'Economics', 'Oakland']]

Reading a `.csv` is just as easy:

In [5]:
with open("my_data.csv", "r") as f:
    csv_data = list(csv.reader(f))
    
print(csv_data)

[['Name', 'Age', 'Department', 'Hometown'], ['Chris', '27', 'German', 'Plymouth'], ['Jarrett', '25', 'Physics', 'Newark'], ['Sofia', '22', 'Chemistry', 'Boston'], ['Esther', '24', 'Economics', 'Oakland']]

If you still prefer Excel for analysis, you can go ahead and open this file in Excel!

----

### XML

XML, or 'Extensible Markup Language', much like HTML is structured by tags. Each tag will have a beginning tag and an end tag. The end tag is marked with a `/` before the tag name. Unlike HTML, XML does not have pre-defined tags that have certain functions, so we have to come up with our own. XML is a great way to structure metadata, and is commonly used for onilne data and annotating corpora. Let's look at an example:

~~~

<my-library>
    <book>
        <title>Harry Potter and the Sorcerer's Stone</title>
        <author>J. K. Rowling</author>
        <date>1998</date>
        <publisher>Scholastic Corporation</publisher>
    </book>
    <book>
        <title>The Hobbit</title>
        <author>J. R. R. Tolkien</author>
        <date>1937</date>
        <publisher>George Allen and Unwin</publisher>
    </book>
    <book>
        <title>To Kill A Mockingbird</title>
        <author>Harper Lee</author>
        <date>1960</date>
        <publisher>J. B. Lippincott and Co.</publisher>
    </book>
</my-library>

~~~

You could, of course, use a CSV for this data, but when there are several more categories (if I wanted to add `films`, for example) it can get messy very fast.

In [ ]:
xml_data = '''
<my-library>
    <book>
        <title>Harry Potter and the Sorcerer's Stone</title>
        <author>J. K. Rowling</author>
        <date>1998</date>
        <publisher>Scholastic Corporation</publisher>
    </book>
    <book>
        <title>The Hobbit</title>
        <author>J. R. R. Tolkien</author>
        <date>1937</date>
        <publisher>George Allen and Unwin</publisher>
    </book>
    <book>
        <title>To Kill A Mockingbird</title>
        <author>Harper Lee</author>
        <date>1960</date>
        <publisher>J. B. Lippincott and Co.</publisher>
    </book>
</my-library>
'''

In [7]:
import xml.etree.ElementTree

e = xml.etree.ElementTree.fromstring(xml_data)
e.findall('book')

[<Element 'book' at 0x7f36042ccd68>,
 <Element 'book' at 0x7f36042f7818>,
 <Element 'book' at 0x7f36042f79a8>]

In [8]:
print(e.findall('book')[0][0].text)
print(e.findall('book')[0][1].text)
print(e.findall('book')[0][2].text)
print(e.findall('book')[0][3].text)
print()
print(e.findall('book')[1][0].text)
print(e.findall('book')[1][1].text)
print(e.findall('book')[1][2].text)
print(e.findall('book')[1][3].text)

Harry Potter and the Sorcerer's Stone
J. K. Rowling
1998
Scholastic Corporation

The Hobbit
J. R. R. Tolkien
1937
George Allen and Unwin

----

### JSON

JSON (JavaScript Object Notation) is a format for structuring and exchanging data. Its syntax is based on JavaScript, but you can still use it in any language, including Python. Its format is somewhat similar to that of a Python dictionary in that it consists of a collection of key-value pairs. JSON, along with XML, are the most popular formats to get data from the internet. Let's look at the same data from the XML example in JSON format.

{'my-library': [{'title': "Harry Potter and the Sorcerer's Stone",
                            'author': 'J. K. Rowling',
                            'date': '1998',
                            'publisher': 'Scholastic Corporation'},
                            
                            {'title': "The Hobbit",
                            'author': 'J. R. R. Tolkien',
                            'date': '1937',
                            'publisher': 'George Allen and Unwin'},
                            
                            {'title': "To Kill A Mockingbird",
                            'author': 'Harper Lee',
                            'date': '1960',
                            'publisher': 'J. B. Lippincott and Co.'},
                            ]
            }

In [9]:
json_data = {'my-library': [{'title': "Harry Potter and the Sorcerer's Stone",
                            'author': 'J. K. Rowling',
                            'date': '1998',
                            'publisher': 'Scholastic Corporation'},
                            
                            {'title': "The Hobbit",
                            'author': 'J. R. R. Tolkien',
                            'date': '1937',
                            'publisher': 'George Allen and Unwin'},
                            
                            {'title': "To Kill A Mockingbird",
                            'author': 'Harper Lee',
                            'date': '1960',
                            'publisher': 'J. B. Lippincott and Co.'},
                            ]
            }

print(json_data['my-library'][0])
print()
print(json_data['my-library'][1])
print()
print(json_data['my-library'][2])

{'title': "Harry Potter and the Sorcerer's Stone", 'author': 'J. K. Rowling', 'date': '1998', 'publisher': 'Scholastic Corporation'}

{'title': 'The Hobbit', 'author': 'J. R. R. Tolkien', 'date': '1937', 'publisher': 'George Allen and Unwin'}

{'title': 'To Kill A Mockingbird', 'author': 'Harper Lee', 'date': '1960', 'publisher': 'J. B. Lippincott and Co.'}

# Handling CSV Data

In [14]:
import requests
import csv

url = 'http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/CAN.csv'
response = requests.get(url)
if response.status_code != 200:
    print('Failed to get data:', response.status_code)
else:
    wrapper = csv.reader(response.text.strip().split('\n'))
    for record in wrapper:
        print(record)

['year', 'data']
['1901', '-7.67241907119751']
['1902', '-7.862711429595947']
['1903', '-7.910782814025879']
['1904', '-8.155729293823242']
['1905', '-7.547311305999756']
['1906', '-7.684103488922119']
['1907', '-8.413553237915039']
['1908', '-7.790929317474365']
['1909', '-8.23930549621582']
['1910', '-7.774611473083496']
['1911', '-8.114446640014648']
['1912', '-7.885402679443359']
['1913', '-7.987940311431885']
['1914', '-7.965937614440918']
['1915', '-7.144039154052734']
['1916', '-8.132978439331055']
['1917', '-8.499914169311523']
['1918', '-8.204662322998047']
['1919', '-8.035985946655273']
['1920', '-7.830679893493652']
['1921', '-7.685777187347412']
['1922', '-8.334989547729492']
['1923', '-8.022125244140625']
['1924', '-7.574568271636963']
['1925', '-7.951625823974609']
['1926', '-7.792789459228516']
['1927', '-7.961727142333984']
['1928', '-7.237975120544434']
['1929', '-8.123651504516602']
['1930', '-7.302305698394775']
['1931', '-6.646339416503906']
['1932', '-7.821688652038574']
['1933', '-8.693134307861328']
['1934', '-7.964327335357666']
['1935', '-8.166967391967773']
['1936', '-8.59422492980957']
['1937', '-7.3392534255981445']
['1938', '-6.856348991394043']
['1939', '-7.669107913970947']
['1940', '-6.799381256103516']
['1941', '-7.233104705810547']
['1942', '-7.097812652587891']
['1943', '-7.2231879234313965']
['1944', '-6.603946685791016']
['1945', '-7.646345615386963']
['1946', '-7.739509582519531']
['1947', '-7.161524295806885']
['1948', '-7.659969329833984']
['1949', '-7.696352958679199']
['1950', '-8.517829895019531']
['1951', '-7.903929710388184']
['1952', '-6.680769920349121']
['1953', '-6.7539520263671875']
['1954', '-7.334064483642578']
['1955', '-7.586000919342041']
['1956', '-8.27430534362793']
['1957', '-7.763300895690918']
['1958', '-6.903257846832275']
['1959', '-7.8713836669921875']
['1960', '-6.951033115386963']
['1961', '-7.946412086486816']
['1962', '-7.465360164642334']
['1963', '-7.363328456878662']
['1964', '-8.241130828857422']
['1965', '-8.078269958496094']
['1966', '-7.83267879486084']
['1967', '-7.973592281341553']
['1968', '-7.3681206703186035']
['1969', '-7.0392913818359375']
['1970', '-7.720573425292969']
['1971', '-7.469780921936035']
['1972', '-9.525187492370605']
['1973', '-6.853341579437256']
['1974', '-8.428787231445312']
['1975', '-7.621856689453125']
['1976', '-7.588895320892334']
['1977', '-6.557257652282715']
['1978', '-7.993335723876953']
['1979', '-7.845717430114746']
['1980', '-7.049171447753906']
['1981', '-5.506665229797363']
['1982', '-8.5137939453125']
['1983', '-7.463536262512207']
['1984', '-7.414198398590088']
['1985', '-7.432916164398193']
['1986', '-7.71035099029541']
['1987', '-6.4537835121154785']
['1988', '-6.610030174255371']
['1989', '-7.706485748291016']
['1990', '-7.6779985427856445']
['1991', '-7.095147132873535']
['1992', '-7.697887420654297']
['1993', '-6.986419677734375']
['1994', '-6.888780117034912']
['1995', '-6.850322723388672']
['1996', '-7.337457180023193']
['1997', '-6.88342809677124']
['1998', '-5.186192989349365']
['1999', '-5.975519180297852']
['2000', '-6.7265448570251465']
['2001', '-5.930727958679199']
['2002', '-6.852164268493652']
['2003', '-6.402592658996582']
['2004', '-7.529717445373535']
['2005', '-5.863758563995361']
['2006', '-5.543209552764893']
['2007', '-6.819293975830078']
['2008', '-7.2008957862854']
['2009', '-6.997011661529541']
['2010', '-4.703649520874023']
['2011', '-5.9335737228393555']
['2012', '-5.714600563049316']